<section class="main padding">
  <nav>
    <div class="logo">
      <img src="../assets/icons/book.svg" alt="Logo">
    </div>
    <div class="options">
      <div class="dark">
        <label class="switch">
          <input type="checkbox" (click)="toggleDarkTheme()" />
          <span class="slider"></span>
        </label>
      </div>
      <img src="../assets/icons/moon-g.svg" alt="Moon icon dark theme" />
    </div>
  </nav>
  <div class="search">
    <form [formGroup]="searchForm" (ngSubmit)="fetchMeaning()">
      <div class="div-search">
        <input class="input-search" type="search" placeholder="Search for any word..." formControlName="inputString"/>
        <p class="txt-empty" *ngIf="searchForm.get('inputString')?.touched && searchForm.get('inputString')?.status === 'INVALID'">Whoops, can’t be empty…</p>
      </div>
      <button class="btn-search">
        <img src="../assets/icons/search.svg" alt="Search Icon" />
      </button>
    </form>
  </div>
</section>

<section class="results padding" *ngIf="wordMeaning && wordMeaning.word">
  <div class="word-wrap">
    <div class="title">
      <h1 class="word">{{ wordMeaning.word }}</h1>
      <span class="pronounciation">{{ wordMeaning.phonetic }}</span>
    </div>
    <audio #audioOption *ngIf="wordAudio">
      <source [src]="wordAudio" type="audio/mp3">
    </audio>
    <button class="btn-play" (click)="onAudioPlay()" *ngIf="wordAudio">
      <img src="../assets/icons/play-light.svg" alt="Play button" />
    </button>
  </div>
  <div class="meaning-container">
    <div class="meaning" *ngFor="let item of wordMeaning.meanings">
      <div class="sub-heading">
        <h3>{{ item.partOfSpeech }}</h3>
        <span class="line-break"></span>
      </div>
      <h4 class="meaning-title">Meaning</h4>
      <ul class="definition-list padding">
        <li *ngFor="let meaning of item.definitions">{{ meaning.definition }}</li>
      </ul>
      <dl class="synonym-list" *ngIf="getSynonyms(item.synonyms).length">
        <dt class="title">
          <h3>Synonyms</h3>
        </dt>
        <dd *ngFor="let synonym of getSynonyms(item.synonyms)">{{ synonym }}</dd>
      </dl>
    </div>
  </div>
</section>